/* Global */

html * {
  font-size: 12px;
  color: #464c4f;
}

body {
  background-color: #f4f6f6;
}

h1 {
  font-size: 20px;
}

.text-primary-dark {
  font-weight: 700;
  text-transform: uppercase;
}

.text-secondary-dark {
  color: #9fa1a2;
}

.leaflet-container {
  height: 40em;
}

/* Map */

.station-icon {
  background: #ffc800;
  border-radius: 50%;
}

/* .station-icon:after {
  display: block;
  width: 30px;
  height: 30px;
  content: "🌊";
  font-size: 20px;
} */

/* Top Ribbon */

.top-ribbon {
  background-color: white;
  display: flex;
  height: 3em;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.13);
  align-items: center;
}

.top-link {
  font-size: 18px;
  font-weight: 600;
}

/* Station Menu */

.stations-menu {
  z-index: 99;
  max-height: fit-content;
  width: 70em;
  position: absolute;
  top: 40px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
}

.stations-menu input {
  background-color: #f2f2f2;
  border: 1px solid #d7dbdb;
  padding: 6px;
  border-radius: 3px;
}

.station-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Data View */

.data-block-options span {
  margin-right: 1em;
  margin-left: 1em;
}

.data-block-options span {
  margin-right: 1em;
}

.dashboard-row {
  display: flex;
  flex-direction: row;
}

.data-block-container {
  background-color: white;
  border: 1px solid #d7dbdb;
  border-radius: 3px;
  /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.13); */
  padding: 1em;
  margin: 1em;
  height: fit-content;
}

.chart-block {
  flex: 2 1 0;
}

.floods-block {
  flex: 1 1 0
}

.data-views-container {
  display: flex;
  justify-content: space-evenly;
}

.data-view {
  flex-grow: 100;
  border: 1px solid #d7dbdb;
  border-radius: 3px;
  margin: 1em;
  background-color: #f4f6f6;
}

.data-view-header {
  display: flex;
  justify-content: center;
  padding: 1em;
  background-color: white;
  border-radius: 3px 3px 0px 0px;
}

.data-block {
  border-radius: 3px;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.13);
  margin: 1em;
}

.data-block-header {
  padding: 1em;
}

.data-block-options {
  display: flex;
  margin: 1em;
  font-weight: 500;
}
